.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.add-user-modal {
  width: 800px;
  max-width: 95%;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.modal-header {
  padding: 25px 30px;
  border-bottom: 1px solid #eee;
}

.modal-header h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}

.modal-body {
  padding: 30px;
}

.form-group {
  margin-bottom: 28px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  color: #2d3748;
  font-weight: 500;
}

.form-group input,
.form-group select {
  width: 100%;
  height: 56px;
  border: 1px solid #d9dce3;
  border-radius: 12px;
  padding: 0 18px;
  font-size: 15px;
  outline: none;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #16c5b5;
}

.required {
  color: red;
}

.modal-footer {
  border-top: 1px solid #eee;
  padding: 20px 30px;

  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.cancel-btn {
  border: none;
  background: #f1f1f1;
  color: #444;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn {
  border: none;
  background: #16c5b5;
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
}